<div class="navbar">
  <div class="nav-left">
    <a href="#">
      <div class="logo"></div>
      <h1 style="display:inline;vertical-align:middle;">Cryptic Mushroom</h1>
    </a>
  </div>

  <div class="nav-right">
    <a href="{{base.url}}/"><i class="fas fa-home"></i><li>Home</li></a>
    <a href="#"><i class="fas fa-box-open"></i><li>Mods</li></a>
    <a href="https://github.com/Cryptic-Mushroom"><i class="fab fa-github"></i><li>GitHub</li></a>
    <a href="https://patreon.com/CrypticMushroom"><i class="fab fa-patreon"></i><li>Patreon</li></a>
    <a href="https://patreon.com/CrypticMushroom"><i class="fas fa-users"></i><li>About</li></a>
  </div>
</div>
